# 本地 WhisperX 轉錄伺服器
LOCAL_SERVER_IP=172.22.12.162
LOCAL_SERVER_PORT=8787
# LOCAL_API_KEY=  # 若伺服器不需要驗證則留空或刪除此行

# Gemini 轉錄 API
GEMINI_API_KEY=AI***************************jc

# Azure 轉錄gpt-4o-transcribe API
AZURE_OPENAI_ENDPOINT=https://*****.openai.azure.com
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-transcribe
AZURE_OPENAI_API_VERSION=2025-03-01-preview
AZURE_OPENAI_API_KEY=04****************************9c

# 郵件SMTP伺服器
SMTP_USER=aa107g2@gmail.com
SMTP_PASS=p******************a
EMAIL_FROM_NAME=Jarvis 會議助理
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_RECIPIENTS=fabian.chung@advantech.com.tw
